h1{
    margin: 16px;
}
 b{
    margin: 16px;
 }
.conteiner1{
    background-color: lightsteelblue;
    font-family: system-ui,sans-serif;
    margin: 16px;
    margin-top: 10px;
    width: 250px;
    height: 150px;
   
}

.conteiner2{
    background-color: lightsteelblue;
    margin-top: 20px;
    width: 250px;
    height: 180px;
    
    
}

.conteiner3{
    background-color: lightsteelblue;
    margin-top: 30px;
    width: 250px;
    height: 100px;
}